{% block slickCaroseo %}
   <div class="box-slick-carousel">
    <div class="box-slick-carousel__item">
      <img src="../images/slick-image1.png">
    </div>
    <div class="box-slick-carousel__item">
      <img src="../images/slick-image12.png">
    </div>
    <div class="box-slick-carousel__item">
      <img src="../images/slick-image1.png">
    </div>
    <div class="box-slick-carousel__item">
      <img src="../images/slick-image1.png">
    </div>
    <div class="box-slick-carousel__item">
      <img src="../images/slick-image1.png">
    </div>
    <div class="box-slick-carousel__item">
      <img src="../images/slick-image1.png">
    </div>
    <div class="box-slick-carousel__item">
      <img src="../images/slick-image1.png">
    </div>
    <div class="box-slick-carousel__item">
      <img src="../images/slick-image1.png">
    </div>
    <div class="box-slick-carousel__item">
      <img src="../images/slick-image1.png">
    </div>
  </div>
{% endblock %}
